@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/ppneuemontreal-book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basis Grotesque Arabic';
  src: url('/fonts/BasisGrotesqueArabicPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monday Holiday';
  src: url('/fonts/Monday-Holiday.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Revolution';
  src: url('/fonts/Revolution.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sunflower';
  src: url('/fonts/Sunflower.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #252126;
  --foreground: #c4c5c9;
}

body {
  font-family: 'PP Neue Montreal', sans-serif;
  color: var(--foreground);
  background: var(--background);
}

@keyframes fontChangeSmooth {
  0% {
    font-family: 'Revolution', sans-serif;
  }
  20% {
    font-family: 'Monday Holiday', sans-serif;
  }
  40% {
    font-family: 'Neue Montreal', sans-serif;
  }
  60% {
    font-family: 'Sunflower', sans-serif;
  }
  80% {
    font-family: 'Basis Grotesque Arabic', sans-serif;
  }
  100% {
    font-family: 'PP Neue Montreal', sans-serif;
  }
}

.animate-font-change-smooth {
  animation: fontChangeSmooth 2.5s linear 1 forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 2s ease-out both;
}

/* Animated underline for footer links */
.footer-link {
  position: relative;
  padding-bottom: 4px;
}

.footer-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; /* underline thickness */
  background-color: #4b4b4b; /* initial gray */
  transform: scaleX(1);
  transform-origin: left;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.footer-link:hover::after {
  background-color: white; /* hover to white */
  transform: scaleX(1); /* could add scale effect if you want */
}
